@tailwind base;
@tailwind components;
@tailwind utilities;

.bottom-vignette {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 8%, 0) 0,
    hsla(0, 0%, 8%, 0.15) 15%,
    hsla(0, 0%, 8%, 0.35) 29%,
    hsla(0, 0%, 8%, 0.58) 44%,
    #141414 68%,
    #141414
  );
  background-position: 0 top;
  background-repeat: repeat-x;
  background-size: 100% 100%;
  bottom: -1px;
  height: 14.7vw;
  opacity: 1;
  top: auto;
  width: 100%;
}

.left-vignette {
  background: linear-gradient(77deg, rgba(0, 0, 0, 0.6), transparent 85%);
  bottom: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 26.09%;
  top: 0;
  transition: opacity 0.5s;
}

body {
  @apply bg-dark-netfuix h-full;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}
