@tailwind base;
@tailwind components;
@tailwind utilities;

.bottom-vignette {
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 8%, 0) 0,
    hsla(0, 0%, 8%, 0.15) 15%,
    hsla(0, 0%, 8%, 0.35) 29%,
    hsla(0, 0%, 8%, 0.58) 44%,
    #141414 68%,
    #141414
  );
  background-position: 0 top;
  background-repeat: repeat-x;
  background-size: 100% 100%;
  bottom: -1px;
  height: 14.7vw;
  opacity: 1;
  top: auto;
  width: 100%;
}

.left-vignette {
  background: linear-gradient(77deg, rgba(0, 0, 0, 0.6), transparent 85%);
  bottom: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 26.09%;
  top: 0;
  transition: opacity 0.5s;
}

body {
  @apply bg-dark-netfuix h-full;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}

/* .swiper-slide {
  width: 100%;
  height: 100%;
} */

/* .swiper-slide:hover {
  width: 230px !important;
} */

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 28px !important;
  color: #ffffff;
  text-shadow: 3px 4px 7px rgba(81, 67, 21, 0.8);
}

.swiper-button-next:hover {
  opacity: 1;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
}

.swiper-button-prev:hover {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
}

.swiper-wrapper {
  padding: 30px 0;
}

.swiper-button-prev,
.swiper-button-next {
  font-weight: bolder;
  width: 60px !important;
  height: 109px !important;
  top: 52px !important;
}

@media only screen and (min-width: 768px) {
  .swiper-wrapper {
    padding: 54px 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    font-weight: bolder;
    width: 60px !important;
    height: 131px !important;
    top: 76px !important;
  }
}

@media only screen and (min-width: 1024px) {
  .swiper-wrapper {
    padding: 72px 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    font-weight: bolder;
    width: 60px !important;
    height: 130px !important;
    top: 94px !important;
  }
}

@media only screen and (min-width: 1440px) {
  .swiper-wrapper {
    padding: 102px 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    font-weight: bolder;
    width: 60px !important;
    height: 121px !important;
    top: 122px !important;
  }
}

@media only screen and (min-width: 1536px) {
  .swiper-wrapper {
    padding: 134px 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    font-weight: bolder;
    width: 60px !important;
    height: 165px !important;
    top: 156px !important;
  }
}
